*{
	margin:0;
	padding:0;
}
body{
	background-color:rgb(246,246,246);
}
li{
	list-style:none;
}
a {
	text-decoration:none;
	color:#000;
}
#top{	
	position:relative;
	width:100%;
	height:30px;
	background-color:rgb(227,228,229);
	line-height:30px;
	font-size:12px;
	font-family:"Microsoft YaHei"
	color:#ccc;
	z-index:88;
}
#top a:link{
	color:rgb(157,160,160);
}
#top a:visited{
	color:rgb(157,160,160);
}
#top a:hover{
	color:rgb(200,21,34);
}
#top a:active{
	color:rgb(157,160,160);
}
#search_menu,#main_t,#main_b{
	width:1190px;
	margin:0 auto;
}
#free_sign a:link{
	color:#f10215;
}
#free_sign a:visited{
	color:#f10215;
}
#free_sign a:hover{
	color:rgb(200,21,34);
}
#free_sign a:active{
	color:#f10215;
}
#top_mid{
	width:1190px;
	height:30px;
	margin:0 auto;
}
#top_mid li,#nav_items li {
	display:inline-block;
	padding:0 5px;
}
#top_mid li{
	height:30px;
}
.fl_left{
	float:left;
}
.fl_rig{
	float:right;
}
#visitor_loc{
	width:258px;
	height:30px;
	display:inline-block;
	text-align:right;
	padding-right:10px;
}
.l_left{
	display:inline-block;
	width:1px;
	height:10px;
	background-color:#ccc;
	margin: 10px 5px 0 5px;
}
.icon_{
	position:relative;
	top:2px;
	display:inline-block;
	width:12px;
	height:12px;
	line-height:30px;
}
#header{
	position:relative;
	z-index:89;
}
#main{
	height:1000px;
}	
#logo img{
	margin-top:-30px;
	box-shadow:5px 0px 5px -5px #ccc, -5px 0px 5px -5px #ccc;
}
#search_menu{
	position:relative;
	width:1190px;
	height:140px;
}
#search_menu div{
	display:inline-block;
}
#search_{
	position:absolute;
	left:320px;
	top:25px;
	width:550px;
	height:35px;
	
}
#search_in{
	position:inherit;
	width:490px;
	height:25px;
	padding:4px;
	margin:0 auto;
	line-height:20px;
	font-size:14px;
	border:1px solid #f10215;
	outline:none;
	display:inline-block;
}
#search_sub{
	position:inherit;
	left:500px;
	width:50px;
	height:35px;
	background-color:#f10215;
	border:none;
	display:inline-block;
	outline:none;
}
#shopping_cart{
	position:absolute;
	top:25px;
	right:100px;
	width:188px;
	height:33px;
	line-height:33px;
	background:#fff;
	border:1px solid rgb(227,228,229);
	text-align:center;
	font-size:12px;
	color:#f10215;
}
#shopping_cart a{
	color:#f10215;
}
#nav_items{
	position:absolute;
	bottom:0px;
	width:790px;
	height:40px;
}
#nav_items ul{
	display:inline-block;
}
#nav_items li{
	margin-left:30px;
	font-size:16px;
	font-family:"Microsoft Yhei";
	padding:0px;
	font-weight:bold;
	line-height:40px;
}
#nav_items a:link{
	color:#555;
}
#nav_items a:visited{
	color:#555;
}
#nav_items a:hover{
	color:rgb(200,21,34);
}
#nav_items a:active{
	color:#555;
}

#nav_items .l_left{
	margin:10px -10px 0 20px;
}
#goods_nav_left{
	float:left;
	width:190px;
	height:480px;
	background-color:#6e6568;
	color:#fff;
	margin-right:10px;
}
#nav_ul{
	padding:16px 0px;
}
#nav_ul li{
	height:28px;
	padding-left:12px;
	font-family:"Microsoft Yhei";
	font-size:14px;
	line-height:28px;
}
#nav_ul li:hover{
	background:rgba(255,255,255,0.5);
}
#nav_ul a:link{
	color:rgb(255,255,255);
}
#nav_ul a:visited{
	color:rgb(255,255,255);
}
#nav_ul a:hover{
	color:rgba(200,21,34,1);
}
#nav_ul a:active{
	color:rgb(255,255,255);
}
.slash{
	display:inline-block;
	width:10px;
	font-size:12px;
	text-align:center;
	margin-right:-3px;
}
#goods_nav_mid{
	width:790px;
	height:480px;
	margin-right:10px;
	display:inline-block;
	background-color:#fff;
}


#goods_nav_midt{
	width:790px;
	height:340px;
	margin-bottom:10px;
}
#goods_nav_midt img:not(.img1){
	display:none;
}
#goods_nav_midb {
	width:790px;
	height:150px;
}
#goods_nav_pic1 li{
	display:inline-block;
}
.img9{
	margin-right:5px;
}
#goods_nav_rig{
	float:right;
	width:190px;
	height:480px;
	background-color:#fff;
	color:rgb(157,160,160);
}
#j_user{
	width:160px;
	height:116px;
	border-bottom:1px solid rgb(230,230,230);
	padding:0 15px;
}
#user_pic,#user_pic img{
	width:40px;
	height:40px;
	border-radius:20px;
}
#user_pic{
	padding-top:25px;
}
#user_pic #user_href{
	display:inline-block;
	
}
#user_href{
	width:110px;
	height:40px;
	font-size:12px;
	margin:-40px 0 0 50px;
	color:rgb(116,111,106);
}

#user_href a:link{
	color:rgb(116,111,106);
}
#user_href a:visited{
	color:rgb(116,111,106);
}
#user_href a:hover{
	color:rgb(200,21,34);
}
#user_href a:active{
	color:rgb(116,111,106);
}
#user_vip a:link{
	color:#e01222;
}
#user_vip a:visited{
	color:#e01222;
}
#user_vip a:hover{
	color:rgb(255,255,255);
}
#user_vip a:active{
	color:#e01222;
}
#user_vip a{
	display:inline-block;
	width:70px;
	height:20px;
	border:2px solid #e01222;
	font-size:12px;
	text-align:center;
	line-height:18px;
	margin:12px 3px 0 0;
}
.new_a:hover{
	background-color:#e01222;
}
#callboard{
	width:160px;
	height:154px;
	border-bottom:1px solid rgb(230,230,230);
	padding:0 15px;
}
#callboard_head{
	position:relative;
	width:160px;
	height:14px;
	padding:8px 0 4px 0;
	line-height:14px;
	font-size:12px;
	color:rgb(116,111,106);
	border-bottom:1px solid rgb(230,230,230);
}
#callboard_head a:link{
	color:rgb(116,111,106);
}
#callboard_head a:visited{
	color:rgb(116,111,106);
}
#callboard_head a:hover{
	color:rgb(200,21,34);
}
#callboard_head a:active{
	color:rgb(116,111,106);
}
.promotion{
	padding-right:12px;
	border-right:1px solid rgb(230,230,230);
}
.notice{
	padding-left:10px;
}
.more{
	position:absolute;
	right:0px;
	display:inline-block;
}	
#call_main{
	font-size:12px;
	margin-top:12px;
}	
#call_main a:link{
	color:rgb(116,111,106);
}
#call_main a:visited{
	color:rgb(116,111,106);
}
#call_main a:hover{
	color:rgb(200,21,34);
}
#call_main a:active{
	color:rgb(116,111,106);
}
#call_main a{
	display:block;
	width:160px;
	height:24px;
	line-height:24px;
}
#func{
	width:190px;
	height:210px;
}
li.func_{
	width:44px;
	height:69px;
	margin:0;
	padding:0;
	display:inline-block;
	font-size:12px;
	text-align:center;
}
#func a:link{
	color:rgb(116,111,106);
}
#func a:visited{
	color:rgb(116,111,106);
}
#func a:hover{
	color:rgb(200,21,34);
}
#func a:active{
	color:rgb(116,111,106);
}





