*,dl,dt,dd{
	margin:0;
	padding:0;
}
body{
	background-color:rgb(246,246,246);
}
li{
	list-style:none;
}
a {
	text-decoration:none;
	color:#000;
}
#top{	
	position:relative;
	width:100%;
	height:30px;
	background-color:rgb(227,228,229);
	line-height:30px;
	font-size:12px;
	font-family:"Microsoft YaHei"
	color:#ccc;
	z-index:88;
}
#top a:link{
	color:rgb(157,160,160);
}
#top a:visited{
	color:rgb(157,160,160);
}
#top a:hover{
	color:rgb(200,21,34);
}
#top a:active{
	color:rgb(157,160,160);
}
#search_menu,#main_t,#main_b{
	width:1190px;
	margin:0 auto;
}
#free_sign a:link{
	color:#f10215;
}
#free_sign a:visited{
	color:#f10215;
}
#free_sign a:hover{
	color:rgb(200,21,34);
}
#free_sign a:active{
	color:#f10215;
}
#top_mid{
	width:1190px;
	height:30px;
	margin:0 auto;
}
#top_mid li,#nav_items li {
	display:inline-block;
	padding:0 5px;
}
#top_mid li{
	height:28px;
	border:1px solid rgb(227,228,229);
	
}
.fl_left{
	float:left;
}
.fl_rig{
	float:right;
	margin-right:8px;
	position:relative;
}
#visitor_loc{
	width:258px;
	height:30px;
	display:inline-block;
	text-align:right;
	padding-right:10px;
}
.l_left{
	display:inline-block;
	width:1px;
	height:10px;
	background-color:#ccc;
	margin: 10px 5px 0 5px;
}
.icon_{
	position:relative;
	top:2px;
	display:inline-block;
	width:12px;
	height:12px;
	line-height:30px;
}
#web_nav,#customer_service,#myJD,#cart_li,#code{
	position:absolute;
	top:30px;
	right:10px;
	border:1px solid #ccc;
	background-color:#fff;
	display:none;
	z-index:210;
}
#myJD a,#customer_service a,#web_nav a{
	display:inline-block;
	font-size:12px;
	line-height:23px;
	color:rgb(157,160,160);
	margin:2px;
}
#myJD{
	width:280px;
	height:165px;
}
#myJD div:first-child,#customer_service div:first-child{
	border-bottom:1px solid #e7e7e7;
	padding:7px;
}
#myJD div:last-child,#customer_service div:last-child{
	padding:7px;
}
#myJD a{
	width:124px;
	height:23px;
}
#myJD a:hover,#customer_service a:hover,#web_nav a:hover{
	color:rgb(200,21,34);
}
#customer_service{
	width:150px;
	height:250px;
	color:#666;
}
#customer_service a{
	width:60px;
}
#web_nav{
	width:1200px;
	height:180px;
	font-family:"Microsoft YaHei";
}
#web_nav dt {
	font-size:12px;
	font-weight:bold;
	color:#777;
	height:25px;
	line-height:25px;
}
#web_nav dd,#web_nav dl{
	display:inline-block;
}
#web_nav dd{
	width:82px;
	height:23px;
	line-height:23px;
	padding:1px;
}

#web_nav dl{
	padding:0 5px;
	margin-top:10px;
}
#web_dl1,#web_dl2,#web_dl3{
	border-right:1px solid #e7e7e7;
}
#web_dl1{
	margin-left:10px;
}

#cart_li{
	width:310px;
	height:70px;
	color:rgb(157,160,160);
	font-size:12px;
	text-align:center;
	line-height:70px;
}
.white_span1{
	width:186px;
	height:3px;
	position:absolute;
	top:-2px;
	right:1px;
	background-color:#fff;
	padding:0;
	margin:0px;
}

#code{
	width:190px;
	height:310px;
}
#code div{
	width:175px;
	height:80px;
	padding:10px;
	position:relative;
}
#code div:first-child{
	border-bottom:1px solid #e7e7e7;
}
#code div:last-child{
	border-top:1px solid #e7e7e7;
}
img.codeimg{
	width:74px;
	height:74px;
	padding:2px;
	border:1px solid #ccc;
}
div.code_scri{
	width:280px;
	height:80px;
	display:inline-block;
	font-size:12px;
	color:#f10214;
	position:absolute;
	top:-95px;
	left:75px;
	border:none;
}

#search_code{
	position:absolute;
	right:0;
	z-index:12;
}
#search_code img{
	width:60px;
	height:60px;
	padding:5px;
	border:1px solid #ccc;
	position:relative;
}
.white_span{
	width:73px;
	height:3px;
	position:absolute;
	top:-2px;
	background-color:#fff;
	padding:0;
	margin:0px;
}
#header{
	position:relative;
	z-index:89;
}
#main{
	height:1000px;
}	
#logo img{
	margin-top:-30px;
	box-shadow:5px 0px 5px -5px #ccc, -5px 0px 5px -5px #ccc;
}
#search_menu{
	position:relative;
	width:1190px;
	height:140px;
}
#search_menu div{
	display:inline-block;
}
#search_{
	position:absolute;
	left:320px;
	top:25px;
	width:550px;
	height:35px;
	z-index:10;
	
}
#search_ .carmera{
	width:22px;
	height:21px;
	display:inline-block;
	position:absolute;
	top:7px;
	left:465px;
	z-index:200;
}
.search_img{
	width:25px;
	height:25px;
	display:inline-block;
	position:absolute;
	top:5px;
	right:13px;
	z-index:200;
}
#search_in{
	position:inherit;
	width:490px;
	height:25px;
	padding:4px;
	margin:0 auto;
	line-height:20px;
	font-size:14px;
	border:1px solid #f10215;
	outline:none;
	display:inline-block;
}
#search_sub{
	position:inherit;
	left:500px;
	width:50px;
	height:35px;
	background-color:#f10215;
	border:none;
	display:inline-block;
	outline:none;
}
#search_key{
	position:absolute;
	left:320px;
	top:65px;
	width:550px;
	height:30px;
	z-index:10;
	font-size:12px;
}
#search_key a{
	color:rgb(157,160,160);
	display:inline-block;
	margin:0 3px;
}
#search_key a:first-child{
	color:#f10215;
}
#search_key a:hover{
	color:rgb(200,21,34);
}
#shopping_cart{
	position:absolute;
	top:25px;
	right:100px;
	width:188px;
	height:33px;
	line-height:33px;
	background:#fff;
	border:1px solid rgb(227,228,229);
	text-align:center;
	font-size:12px;
	color:#f10215;
}
#shopping_cart a{
	color:#f10215;
	display:inline-block;
	position:relative;
	top:-12px;
}
#shopping_cart:hover{
	border-bottom:none;
}
#goods_nav{
	position:relative;
}
#nav_items{
	position:absolute;
	bottom:0px;
	width:790px;
	height:40px;
}
#nav_items ul{
	display:inline-block;
}
img.lef_img{
	display:inline-block;
	position:absolute;
	bottom:8px;
	right:0;
}
#nav_items li{
	margin-left:30px;
	font-size:16px;
	font-family:"Microsoft Yhei";
	padding:0px;
	font-weight:bold;
	line-height:40px;
}
#nav_items a:link{
	color:#555;
}
#nav_items a:visited{
	color:#555;
}
#nav_items a:hover{
	color:rgb(200,21,34);
}
#nav_items a:active{
	color:#555;
}

#nav_items .l_left{
	margin:10px -10px 0 20px;
}
#goods_nav_left{
	float:left;
	width:190px;
	height:480px;
	background-color:#6e6568;
	color:#fff;
	margin-right:10px;
}
#nav_ul{
	width:190px;
	height:480px;
	padding:16px 0px;
}
.nav_a{
	padding-left:12px;
	height:28px;
	font-family:"Microsoft YaHei";
	font-size:14px;
	line-height:28px;
}
#nav_ul .nav_a a{
	color:rgb(255,255,255);
}
#nav_ul a:hover{
	color:rgba(200,21,34,1);
}

.slash{
	display:inline-block;
	width:10px;
	font-size:12px;
	text-align:center;
	margin-right:-3px;
}
#goods_nav_mid{
	width:790px;
	height:480px;
	margin-right:10px;
	display:inline-block;
	background-color:#fff;
	position:relative;
}
#img_menu{
	position:absolute;
	top:300px;
	left:303px;
	width:182px;
	height:20px;
	background-color:#fff;
	border-radius:10px;
	background-color:rgba(255,255,255,0.2);
	padding-left:10px;
}
#img_menu div{
	display:inline-block;
	width:12px;
	height:12px;
	border-radius:6px;
	background-color:#fff;
	margin:4px 4px 4px 2px;
}
#img_menu div:first-child{
	background-color:rgb(200,12,34);
}
#goods_nav_midt{
	width:790px;
	height:340px;
	margin-bottom:10px;
}
#goods_nav_midt img{
	width:790px;
	height:340px;
}
#goods_nav_midt img:not(.img1){
	display:none;
}
#goods_nav_midb {
	width:790px;
	height:150px;
}
#goods_nav_pic1 li{
	display:inline-block;
}
.img9{
	margin-right:5px;
}
#goods_nav_rig{
	float:right;
	width:190px;
	height:480px;
	background-color:#fff;
	color:rgb(157,160,160);
}
#j_user{
	width:160px;
	height:116px;
	border-bottom:1px solid rgb(230,230,230);
	padding:0 15px;
}
#user_pic,#user_pic img{
	width:40px;
	height:40px;
	border-radius:20px;
}
#user_pic{
	padding-top:25px;
}
#user_pic #user_href{
	display:inline-block;
	
}
#user_href{
	width:110px;
	height:40px;
	font-size:12px;
	margin:-40px 0 0 50px;
	color:rgb(116,111,106);
}

#user_href a:link{
	color:rgb(116,111,106);
}
#user_href a:visited{
	color:rgb(116,111,106);
}
#user_href a:hover{
	color:rgb(200,21,34);
}
#user_href a:active{
	color:rgb(116,111,106);
}
#user_vip a:link{
	color:#e01222;
}
#user_vip a:visited{
	color:#e01222;
}
#user_vip a:hover{
	color:rgb(255,255,255);
}
#user_vip a:active{
	color:#e01222;
}
#user_vip a{
	display:inline-block;
	width:70px;
	height:20px;
	border:2px solid #e01222;
	font-size:12px;
	text-align:center;
	line-height:18px;
	margin:12px 3px 0 0;
}
.new_a:hover{
	background-color:#e01222;
}
#callboard{
	position:absolute;
	top:117px;
	width:190px;
	height:154px;
	border-bottom:1px solid rgb(230,230,230);
	z-index:200;
	background-color:#fff;
}
#callboard_head{
	position:absolute;
	width:160px;
	height:20px;
	padding:8px 0 0px 0;
	margin:0 15px;
	line-height:14px;
	font-size:12px;
	color:rgb(116,111,106);
	border-bottom:1px solid rgb(230,230,230);
}
#callboard_head a:hover{
	color:rgb(200,21,34);
}
#callboard_head a{
	color:rgb(116,111,106);
	padding-bottom:4px;
	
}
.promotion{
	padding-right:12px;
	border-right:1px solid rgb(230,230,230);
}
.notice{
	padding-left:10px;
}
.more{
	position:absolute;
	right:0px;
	display:inline-block;
}	
#call_main{
	font-size:12px;
	margin-top:12px;
	position:absolute;
	top:26px;
	z-index:200;
	background-color:#fff;
	padding:0 15px;
}	
#call_main a:link{
	color:rgb(116,111,106);
}
#call_main a:visited{
	color:rgb(116,111,106);
}
#call_main a:hover{
	color:rgb(200,21,34);
}
#call_main a:active{
	color:rgb(116,111,106);
}
#call_main a{
	display:block;
	width:160px;
	height:24px;
	line-height:24px;
}
#func{
	
	position:absolute;
	top:271px;
	z-index:100;
}
#func ul:first-child{
	z-index:100;
}
li.func_{
	position:relative;
	float:left;
	width:46px;
	height:55px;
	display:inline-block;
	font-size:12px;
	text-align:center;
	padding-top:14px;
	border-top:1px solid #e7e7e7;
	border-left:1px solid #e7e7e7;
	z-index:100;
}
li.func_ span{
	display:inline-block;
	width:46px;
}
#func a:link{
	color:rgb(116,111,106);
}
#func a:visited{
	color:rgb(116,111,106);
}
#func a:hover{
	color:rgb(200,21,34);
}
#func a:active{
	color:rgb(116,111,106);
}
.func_detail{
	position:absolute;
	top:22px;
	width:170px;
	font-size:12px;
	padding:10px;
	background-color:#fff;
	z-index:101;
}
.func_detail li{
	display:inline-block;
	width:45px;
	height:20px;
	line-height:18px;
	background-color:#fff;
	color:#666;
	text-align:center;
	margin:15px 0;	
}
.func_detail li:hover{
	color:#fff;
	background-color:rgb(200,21,34);
}
.func_detail{
	display:none;
}
#pay_select{
	width:50px;
	color:#aaa;
	border:1px solid #ccc;
	height:20px;
	line-height:20px;
	background-color:#fff;
	margin-bottom:10px;
}
#recharge{
	margin-top:10px;
	background-color:rgb(200,21,34);
	color:#fff;
	padding:5px 10px;
	outline:none;
	border:none;
}
#game_input{
	border:1px solid #ccc;
	margin-bottom:10px;
}
#game_input input{
	outline:none;
	border:none;
	padding:2px 10px;
	margin-top:-1px;
	background-color:#eee;
	color:#aaa;
}
#game_input select{
	background-color:#fff;
	border:none;
	padding:1px 10px;
	outline:none;
	width:120px;
	margin-left:-3px;
	color:#aaa;
}
#nav_ul .nav_detail{
	width:980px;
	height:auto;
	padding:10px;
	background-color:rgb(246,246,246);
	position:absolute;
	left:190px;
	top:0px;
	box-shadow:2px -2px 1px 2px #cfcfcf;
	display:none;
	z-index:300;
}
#nav_ul .detail_left{
	width:770px;
	margin:10px;
	float:left;
}
#nav_ul .detail_left ul img{
	width:10px;
	height:10px;
	margin-left:5px;
	position:relative;
	top:1px;
}
#nav_ul .detail_left dl{
	position:relative;
}
#nav_ul .detail_left dl img{
	width:10px;
	height:10px;
	margin:0px 10px 0 5px;
}
#nav_ul .detail_left ul a li{
	background-color:#6e6568;
	height:23px;
	line-height:22px;
	font-size:12px;
	display:inline-block;
	padding:0px 10px;
	color:#fff;
	margin-bottom:10px;
	opacity:0.9;
}
#nav_ul .detail_left ul a li:hover{
	opacity:1;
	background-color:#6e6568;
}
#nav_ul .detail_left dl dt{
	display:inline-block;
	font-weight:bold;
	width:90px;
	text-align:right;
	position:relative;
	top:0px;
}
#nav_ul .detail_left dd{
	width:675px;
	line-height:15px;
	border-bottom:1px solid #e9e9e9;
	display:inline-block;
	padding:5px 0;
	position:relative;
	left:-10px;
	top:0px;
}
#nav_ul .detail_left dd a{
	border-left:1px solid #e0e0e0;
}
#nav_ul .detail_left dl a{
	display:inline-block;
	color:#666;
	font-size:12px;
	line-height:12px;
	padding:0px 10px;
	margin:5px 0 5px -4px;
}
#nav_ul .detail_left dl a:hover{
	color:rgb(200,21,34);
}
#nav_ul .detail_left dl:last-child dd{
	border:none;
}

                           
